build
__pycache__/
*.exe
dist
chineseJH_chroma_db/
55_db/
1-55章.txt
.vscode/*
.env
cache/
.deepeval/
.pytest_cache/
project/py_qt_ui/chat_bot_qt5_py3_8/app/resource
project/py_qt_ui/easy_chat/app/resource
project/chat_bot/models/bge-m3/*
project/chat_bot/app/models/bge-m3
